@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: rgb(240, 236, 181);
    box-sizing: border-box;
}

#title{
    margin: 0;
    font-size: 5rem;
    color: darkred;
    background-color: rgb(240, 183, 183);
    text-align: center;
}

.game{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: rgb(232, 148, 148);
}

.display{
    background-color: rgb(240, 183, 183);
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box{
    border: 2px solid white;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    font-size: 5vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(231, 115, 115);
}

.state{
    padding: 40px;
}

.state div{
    display: flex;
    justify-content: space-between;
}

#reset{
    padding: .5rem 2rem;
    margin: 0 .5rem;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    border: 0;
    cursor: pointer;
}

#reset:hover{
    background-color: brown;
}

.bt{
    border-top: 0;
}

.bb{
    border-bottom: 0;
}

.bl{
    border-left: 0;
}

.br{
    border-right: 0;
}